body{
    display:flex;
    background-color: rgb(10,120,120);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    background-color: rgb(129,118,119);
    padding:20px;
    
    
}

.screen{
    background-color: rgb(242, 246, 245);
    width:230px;
    height:70px;
    font-size:45px;
    text-align: end;
}

.button{
    display: flex;
    flex-wrap: wrap;
    width:235px;
}

button{
    background-color: azure;
    border:none;
    color:black;
    font-size: 40px;
    margin:3px;
    width:50px;
    height:50px;
    border-radius: 25px;
}

button:hover{
    background-color: grey;
}

#equal{
    background-color: lime;
}
#equal:hover{
    background-color: gold;
}

#clear{
    background-color: deeppink;
    width:100%;
    font-size:30px;
}
#clear:hover{
    background-color: navy;

}